<h2>{{article.title}}</h2>
<h3>{{article.description}}</h3>
<p>{{article.body}}</p>
<p>Date: {{ article.createdAt | date:'short'}}</p>
<h3>Tags:</h3>
<div *ngFor='let tag of article.tagList'>
  <p>{{tag}}</p>
</div>

<h2>Comentarios</h2>
<div *ngIf="this.commentList.length!=0" class="comment-container">

  <div *ngFor="let comment of this.commentList">
    <app-comments [comment]="comment"></app-comments>
    <hr>
  </div>
</div>


<textarea #userComment placeholder="Escribe tu comentario" class="comment-box"></textarea>
<button (click)="comment(userComment.value); userComment.value=''">Enviar</button>